body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 0%) 0%,
    hsl(120deg 100% 9%) 7%,
    hsl(120deg 100% 15%) 13%,
    hsl(102deg 100% 22%) 20%,
    hsl(97deg 66% 35%) 28%,
    hsl(97deg 47% 50%) 35%,
    hsl(96deg 68% 65%) 43%,
    hsl(96deg 68% 65%) 51%,
    hsl(97deg 47% 50%) 59%,
    hsl(97deg 66% 35%) 67%,
    hsl(102deg 100% 22%) 76%,
    hsl(120deg 100% 15%) 84%,
    hsl(120deg 100% 9%) 92%,
    hsl(0deg 0% 0%) 100%
  );
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_title {
  font-size: 42px;
  text-align: center;
  color: #adf77c;
}

.deposit > h3 {
  font-size: 28px;
  color: #000000;
}
#deposit_ip {
  border-color: #020202;
  background-color: transparent;
  color: #020202;
}
.deposit_btn {
  margin-top: 5%;
  padding: 3%;
  width: 25%;
  cursor: pointer;
  border-color: #000000;
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
}
.balance {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.balance_btn > button {
  cursor: pointer;
  border-color: #adf77c;
  background-color: black;
  color: #adf77c;
  text-transform: uppercase;
  margin-bottom: 10%;
  padding: 3%;
  width: 60%;
}

.balance > input {
  margin-top: 5%;
  border-color: #ffffff;
  background-color: transparent;
  color: #ffffff;
}

@media (min-width: 768px) {
  .deposit_btn {
    padding: 1%;
    width: 20%;
    margin-top: 3%;
  }
  .balance {
    margin-top: 5%;
    flex-direction: row;
  }

  .balance_btn > button {
    margin-bottom: 10%;
  }
  .balance > input {
    margin-top: -5%;
  }
}
